@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: Inter, sans-serif;
}

h1 {
    font-weight: normal;
    color: white;
}

div.info {
    margin: 10px 0;
}

div.info * {
    color: white;
}

#icons {
    display: none;
    filter:url(#drop-shadow);
}

.container {
    position: absolute;
    left: 1000px;
}

#vehicle {
    fill: white;
}


div.menuHolder {
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
}

svg.icons {
    display: none;
    filter:url(#drop-shadow);
}

svg.menu {
    position: absolute;
    overflow: visible;
    transition: .1s;
    transition-timing-function: ease-out;
}

svg.menu.inner {
    transform: scale(1.0) rotate(-10deg);
    opacity: 0;
    visibility: hidden;
}

svg.menu.outer {
    opacity: 0;
    visibility: hidden;
}

svg.menu > g > path {
    fill: #000000b3;
    transition: 0.3s;
}

svg.menu > g.sector > path {
    cursor: pointer;
}

g.center circle {
    stroke: white;
    stroke-width: .2px;
}

svg.menu > g.sector > text,
svg.menu > g.sector > use {
    font-family: 'Play';
    font-weight: 520px;
    margin-top: 10px;
    font-size: 3.9px;
    cursor: pointer;
    fill: white;
}

svg.menu > g.sector:hover > path {
    fill: #02f1b5e3;
}


svg.menu > g.center > circle {
    cursor: pointer;
    fill: #000000dc;
    fill-opacity: 0.2s;
}

svg.menu > g.center > text,
svg.menu > g.center > use {
    margin-top: 5px;
    font-size: 4.5px;
    font-weight:600;
    cursor: pointer;
    fill: white;
}

.sector svg {
    pointer-events:none;
}

#center-description {
    position:absolute;
    color:white;
    z-index:100;
    left:50%;
    top:calc(50% - 20px);
    translate: -50% -50%;
    text-align:center;
    opacity: .5;
    word-wrap:break-word;
}